*{
    box-sizing: border-box;
}

*:focus, *:focus-visible{
    outline: 0;
}

:root{
    --lv0: white;
    --lv1: #ddd;
    --lv2: #bbb;
    --lv3: #888;

    --br1: 25px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.status, .credits{
    background-color: var(--lv1);
    padding: 10px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.turndisplay {
    width: 50px;
    height: 50px;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.game{
    height: 50vh;
    width: 50vh;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
}

.game div{
    background-color: var(--lv1);
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.1s;
}

.game div:hover{
    box-shadow: 0px 5px 10px var(--lv2);
}

.game div:first-child{
    border-top-left-radius: var(--br1);
}

.game div:nth-child(3){
    border-top-right-radius: var(--br1);
}

.game div:last-child{
    border-bottom-right-radius: var(--br1);
}

.game div:nth-child(7){
    border-bottom-left-radius: var(--br1);
}

.game div.x, .turndisplay.x{
    background-image: url(./assets/x.svg);
}

.game div.o, .turndisplay.o{
    background-image: url(./assets/o.svg);
}

.main-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--lv1);
    display: flex;
}

.main-menu.hidden{
    display: none;
}

.main-menu>div{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic{
    width: 250px;
    height: 250px;
    background-color: var(--lv3);
    border-radius: var(--br1) var(--br1) 0 0;
}

.profile{
    display: flex;
    flex-direction: column;
    border-radius: var(--br1) var(--br1) var(--br1) var(--br1);
    box-shadow: 0 15px 40px var(--lv3), 0 -25px 40px white;
}

.profile *:last-child{
    border-radius: 0 0 var(--br1) var(--br1);
}

button{
    background-color: white;
    padding: 10px;
    border: none
}

button:hover, button:focus, button:focus-visible{
    background-color: #eee;
}