*{
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace;
}

*:focus, *:focus-visible{
    outline: 0;
}

:root{
    --lv0: #fff;
    --lv1: #ddd;
    --lv2: #bbb;
    --lv3: #888;
    --shadow: rgba(0, 0, 0, 0.5);
    --br1: 25px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lv1);
    gap: 60px;
}

nav{
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lv2);
}

.game{
    height: 50vh;
    width: 50vh;
    border-radius: var(--br1);
    box-shadow: 0 18px 30px var(--shadow), 0 -35px 40px white;
    background-color: var(--lv1);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
}

.game div{
    background-color: var(--lv0);
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.1s;
}

.game div:hover{
    background-color: var(--lv1);
}

.game div:first-child{
    border-top-left-radius: var(--br1);
}

.game div:nth-child(3){
    border-top-right-radius: var(--br1);
}

.game div:last-child{
    border-bottom-right-radius: var(--br1);
}

.game div:nth-child(7){
    border-bottom-left-radius: var(--br1);
}

.game div.x{
    background-image: url(./assets/x.svg);
}

.game div.o{
    background-image: url(./assets/o.svg);
}

.main-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--lv1);
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    box-shadow: 0 18px 30px var(--shadow);
}

.main-menu.hidden{
    transform: translateY(-150%);
}

.profile-holder{
    flex: 1 1 0;
    display: grid;
    grid-template-columns: 16fr 1fr 16fr;
}

.profile-holder>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic{
    width: 250px;
    height: 250px;
    background-color: var(--lv3);
    border-radius: var(--br1) var(--br1) 0 0;
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.pic.x{
    background-image: url(./assets/x.svg);
}

.pic.o{
    background-image: url(./assets/o.svg);
}

.profile{
    display: flex;
    flex-direction: column;
    border-radius: var(--br1) var(--br1) var(--br1) var(--br1);
    box-shadow: 0 18px 30px var(--shadow), 0 -35px 40px white;
}

.profile *:last-child{
    border-radius: 0 0 var(--br1) var(--br1);
}

button{
    background-color: var(--lv0);
    padding: 10px;
    border: none;
    border-radius: var(--br1);
    padding: 10px 20px;
    transition: 0.1s;
    box-shadow: 0 1px 2px var(--shadow);
}

button:hover, button:focus, button:focus-visible{
    background-color: #eee;
    background-color: white;
    box-shadow: 0 3px 8px var(--shadow);
}

button:active{
    box-shadow: 0 0 0;
}

label{
    background-color: var(--lv0);
    padding: 10px 20px;
    border-top: 1px solid var(--lv3);
}

label:hover{
    background-color: var(--lv1);
}

.xinfo, .oinfo{
    padding: 10px 20px;
    border-radius: var(--br1);
    background-color: var(--lv3);
    box-shadow: inset 0px 2px 5px var(--shadow);
    transition: 0.2s;
}

.turn{
    font-weight: bold;
    color: var(--lv0);
}

.xinfo.turn{
    background-color: #f00;
    box-shadow: 0 2px 35px rgba(255, 0, 0, 0.6);
}

.oinfo.turn{
    background-color: #00f;
    box-shadow: 0 2px 45px rgba(0, 0, 255, 0.6);
}

.congrats{
    position: absolute;
    width: 50vh;
    height: 50vh;
    border-radius: var(--br1);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    transition: 0.5s;
}

.congrats.hidden{
    display: none;
}